---
---

@import "{{ site.theme }}";

/* réduire la hauteur du bandeau */
.page-header {
  padding: 60px 20px;
}

/* titre principal */
.project-name {
  font-size: 3rem;
}

/* sous-titre */
.project-tagline {
  font-size: 1.2rem;
  opacity: 0.9;
}
